<header class="nav">
    <div class="nav-user">
        <i></i>
        <div class="nav-user__name">Имя пользователя</div>
    </div>
    <div class="nav-bar">
        <div class="nav-bar__item">
            <span class="title">Баланс:</span>
            <span class="description">0,000000000 ВТС</span>
        </div>
        <div class="nav-bar__item">
            <span class="title">Ставки:</span>
            <span class="description">10</span>
        </div>
    </div>
    <div class="flex-spacer"></div>
    <a href="#" class="nav-href">Выйти</a>
</header>
<section class="coin">
    <div class="coin-sidebar-left">
        <coin-chat></coin-chat>
    </div>
    <div class="coin-sidebar-right">
        <coin-rates></coin-rates>
    </div>
</section>
