<div class="authorization">
    <header>
        <div class="container">
            <div class="nav-menu">
                <svg-icon class="logo" name="logo" [svgStyle]></svg-icon>
                <div class="flex-spacer"></div>
                <a class="btn-auth" [routerLink]="['/register']">Зарегистрироваться</a>
                <a class="btn-auth" [routerLink]="['/login']">Войти</a>
            </div>
        </div>
    </header>
    <section class="authorization-body">
        <div class="container">
                <p>{{ authForm.value }}</p>
                <p>{{ authForm.status }}</p>
            <div class="authorization-title">Вход</div>

            <form [formGroup]="authForm" novalidate class="authorization-form">
                <label>
                    <span>Логин*</span>
                    <input type="text" formControlName="Login" placeholder="Логин" />
                </label>
                <label>
                    <span>Пароль*</span>
                    <input type="password" formControlName="Password" placeholder="Пароль" />
                </label>
                <br>
                <button class="btn-sign" (click)="handleAuth()">Войти</button>
                <div class="space-height">или</div>
                <a [routerLink]= "['/register']" class="btn-signout">Регистрация</a>
            </form>
        </div>
    </section>
</div>